@font-face {
    font-family: 'Source Code Pro';
    src: url(./WOFF2/OTF/SourceCodePro-Black.otf.woff2);
}

/* #odin-watermark {
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 70vh;      
    opacity: 0.6; 
    z-index: 0; 
    width: 400vw; 
    height: auto; 
} */

.header {
    text-align: center;
    font-family: 'Source Code Pro';
    border-bottom: transparent;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /*Center vertically*/
    height: 70vh;            
}

.terminal-window {
    max-width: fit-content;
    height: auto;
    margin: 0 auto;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
    font-size: larger;
}

.terminal-window .title {
    color: #b4b4b4;
    background-color: #2f2f2f;
    text-align: right;
    padding: 6px;
}

.terminal-window .content {
    background-color: black;
    padding: 10px;
}

.terminal-window .content .prompt-symbol {
    color: lightcyan;
}
.terminal-window .content .command {
    color: #0CBD79;
}

.terminal-window .content .argument.directory {
    color: white;
    text-decoration: underline;
}

.ls-response * {
    color: yellow;
    list-style-type: none;
    margin: 5px;
}